body div {
    margin: 0;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    max-height: 720px;
}



body div div:nth-of-type(odd) {
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

body div div:nth-of-type(even) {
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

body div div:nth-child(0n+1) {
    margin: 10px 10px;
    width: 100%;
    max-width: 943px;
    background: #55B3B9;
}

body div div:nth-child(0n+2) {
    margin: 10px 641px;
    max-width: 629px;
    height: 100%;
    max-height: 150px;
    background: #C56060;
}

body div div:nth-child(0n+3) {
    margin: 10px 168px;
    width: 100%;
    max-width: 943px;
    height: 100%;
    max-height: 150px;
    text-align: center;
    background: #8FC091;
}

body div div:nth-child(0n+4) {
    margin: 10px 10px;
    width: 100%;
    max-width: 628px;
    height: 100%;
    max-height: 150px;
    background: #8F86AF;
}
